* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-size: 1.5rem;
    background-color: aliceblue;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 75px auto 75px;
    column-gap: 0.5rem; 
    /* display: flex;
    flex-direction: column; */
}

/* style for the header */

header {
    height: 90px;
    position: sticky;
    top: 0;
    background-color: aliceblue;
}

nav ul {
    list-style-type: none;
    padding: 0.5rem;
    text-align: right;
    /* background-color: lightgray; */
}

nav ul li {
    display: inline-block;
    margin-inline: 2rem;
    /* color: green; */
}

nav ul li a {
    text-decoration: none;
    color: green;
}

nav ul li a:hover, li a:focus {
    text-decoration: double;
}

@media only screen and (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin-right: 0;
        margin-bottom: 20px;
    }

}

/* style for the name intro */

.cont1 {
    background-color: green;
    background-image: url('./backgrounds/butterfly\ 1.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    background-size: 100% 800px;
}

.pf {
    border-bottom: 2p solid black;
    padding: 190px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    background-color: hsla(219, 83%, 37%, 0.37);
}

.h1 {
    text-shadow: 4px 4px 5px green;
    color: white;
    font-size: 180%;
    text-align: center;
}

section h3 {
    color: green;
    text-align: center;
}

/* style for the about me */

.about-me {
    display: flow-root;
}

.about-me img {
    float: right;
    width: 40%;
    height: auto;
    margin: 20px;
}

.about-me-text {
    margin: 20px;
}



/* style for projects */

h3 {
    color: green;
    text-align: center;
}

#slideshow-container {

    max-width: 1000px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.slides {
    display: none;
    transition: transform .5s;
    position: relative;
}

.prev, .next {
    cursor: pointer;
    color: white;
    position: absolute;
    transform: translate(0, -50%);
    padding: 16px;
    border-radius: 0 3px 3px 0;
    background: rgba(0, 0, 0, .5);
    transition: all .3s;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background: green;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 10px 5px 0 2px;
    display: inline-block;
    background: #ddd;
    transition: all .3s;
}

.active, .dot:hover {
    background: green;
}

.zoomed {
    transform: scale(1.5);
    z-index: 10;
}

.blur-background {
    filter: blur(5px);
    transition: filter .5s ease;
}

/* styling skills */


.skills1 {
    margin-top: 10%;
}

.skill-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.left-skill .right-skill {
    width: 100%;
    padding: 20px;
}

.skill-list {
    height: 20px;
    width: 400px;
    margin: 15px;
    background-color: slategray;
    font-size: 1rem;
    text-align: center;
    color: aliceblue;
}

.skill-list span {
    display: block;
    border-radius: 5px;
    height: 100%;
}

.left-skill p {
    float: right;
    color: green;
}

.right-skill p {
    float: right;
    color: green;
}

.progress {
    background-color: green;
    animation: progressBar 3s ease-in-out;
    animation-fill-mode: both;
}

@keyframes progressBar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .left-skill .right-skill {
        width: 100%;
        margin-bottom: 20px;
    }

    .skill-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .skill-list span {
        width: 100%;
        margin: 10px 0;
    }
}



/* Styling Contact */


.contact-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.left-contact {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.left-contact div {
    margin-bottom: 50px;
}

.right-contact {
    width: 50%;
    align-items: flex-end;
    padding: 20px;
}

.form-group {
    margin-bottom: 10px;
    display: block;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: transparent;
}

button {
    width: 50%;
    height: 50px;
    margin-bottom: 30px;
    background-color: green;
    color: aliceblue;
}

@media only screen and (max-width: 768px) {
    .left-contact, .right-contact {
        width: 100%;
    }

    .left-contact {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .form-group input, .form-group textarea {
        padding: 5px;
    }

    button {
        padding: 5px 10px;
    }
}



/* Styling footer */

.footer {
    background-color: slategray;
    text-align: center;
    clear: both;
}

footer p {
    /* text-align: center; */
    color: aliceblue;
    /* align-items: center; */
}
